# Variables de entorno requeridas para el Ledger Service.


# ---- Conexión a Cassandra ----
CASSANDRA_HOST=cassandra1

# ---- Service Discovery (URLs internas de Docker) ----
BALANCE_SERVICE_URL=http://balance_service:8000
INTERBANK_SERVICE_URL=http://interbank_service:8000 # Renombrado de MOCK_BANKB_URL

# ---- Seguridad Interbancaria ----
# Clave secreta para autenticarse con el servicio interbancario (Happy Money)
INTERBANK_API_KEY=mi-clave-secreta-123

PARTNER_API_KEY=secreto-del-otro-grupo-123456

AUTH_SERVICE_URL=http://auth_service:8000
GROUP_SERVICE_URL=http://group_service:8000